.banner-blog {
    width: 100%;
    height: 100% !important; /* adjust laterfor something more lenghty */
    background-size: cover;       /* Scales image to fill width */
    background-position: center;  /* Keeps image centered */
    background-repeat: no-repeat;
    margin-top: 3%;

}

.home-container {
    width: 100%;
}

/* styling for image and text on banner */
.banner-container {
  position: relative;
  width: 100%;
}

.banner-container img {
  width: 100%;
  height: 300px;
  display: block;
}

/* Gradient overlay on the left side */
.banner-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40%; /* adjust how much gradient covers */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
}

/* Text styling */
.banner-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  z-index: 2;
  max-width: 500px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 1.2;
}

.title-blog {
  text-align: center !important;
  margin: 3%;
}





/* media responsive for phones (kinda...) */
@media (max-width: 768px) {
  img {
    margin-top: 15%;
  }
  .banner-text h1 {
    font-size: 20px;
  }
  .banner-text p {
    font-size: 13px;
  }
}


/* mat cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

mat-card {
  margin: 1%; /* Remove extra margin since grid handles spacing */
  margin-bottom: 20%;
}


.image-card {
    width: auto;
    height: 300px;

}

button {
  background-color: rgb(148, 184, 241);
  border: none;
  color: white !important;
  padding: 10px 30px;
  margin: 2%;
  text-align: center;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

/* extra blog content styling  */
.blog-container {
  display: flex;
  flex-direction: row; /* Side by side */
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}

.blog-box {
  flex: 0.4; /* same space for both boxes */
}

.image-box img {
  width: 90%;
  height: auto;
  border-radius: 6px;
  display: block;
}

/*media sizing for smaller screens */
@media (max-width: 768px) {
  .blog-container {
    flex-direction: column; /* Stack vertically */
  }
}